body, .pic-p, .pic-txt   {
    height: auto;
    margin: 0;
    padding: 0;
}

.header, .footer {
    height: 50px;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer {
    position: fixed;
    bottom: 0;
    flex-shrink: 0;
    overflow: auto;
}

.header-logo-wrap {
    margin: 0;
    padding: 0;
    display: flex;
    background: black; opacity: 1;
}

.row {
    flex-direction: row;
    width: 350px;
    height: 50px;
    align-items: center;
}

.row, .row-item {
    display: flex;
    justify-content: space-around;
}

.row-item {
    color: white;
    text-decoration: none;
    flex-wrap: wrap;
}

.row-item:hover{
    transition:0;
    text-decoration: underline;   
}

.footer-item {
    color: white;
    flex-wrap: wrap;
    font-style: unset;
    align-items: flex-end;
}

.aside {
    background-color: rgb(220,220,220);
    max-width: 200px;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.input, .search{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.p-input {
    padding: 0;
    margin: 0;
    text-align: center;
}

.p {
    padding: 0;
    margin: 0;
    margin-top: 50px;
}

.input-button {
    width: 60px;
    margin-left: auto;
    margin-right: auto;
}

.filter {
    padding: 0;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
}
.slidecontainer {
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}

.p-input-h {
    margin-top: 20px;
    text-align: center;   
}

.p-input-f {
    margin-bottom: 20px;
    text-align: center;   
}

.pic {
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    height: 250px;
    font-size: 16px;
    border: 1px solid black;
    margin: 20px 20px;

}
.pic-img {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid black; */
}
.pic-item {
    width: 100%;
    height: 50%;
}

.pic-p {
    color: dimgrey;
}

.pic-txt {
    margin-top: 10px;
    color: black;
    text-align: center;
}

.pic-button {
    width: 60px;
    height: 30px;
    appearance: none;
    outline: none;
    border-radius: 7px;
    color: black;
    background-color: white;
    font-size: 14px;
    margin: 16px;
    }

.pic-item-button {
    display: flex;
    width: 80%;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: gray;
}

.pic-button:hover {
    background-color: green;
    color: white;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    margin-top: 50px;
    margin-left: 200px;
    margin-right: 200px

}
.pic-sect {
    display: flex;
    align-items: center;
    background-color: white;
    flex-wrap: wrap;
    flex-direction: column;
    border: 1px solid black;
    width: 200px;
    height: 250px;
    margin: 20px 20px;
}