body {
    margin: 0;
    padding: 0;
}

.header, .footer {
    height: 50px;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-logo-wrap {
    margin: 0;
    padding: 0;
    display: flex;
    background: black; opacity: 1;
}

.row {
    flex-direction: row;
    width: 350px;
    height: 50px;
    align-items: center;
}

.row, .row-item {
    display: flex;
    justify-content: space-around;
}

.row-item {
    color: white;
    text-decoration: none;
    flex-wrap: wrap;
}

.row-item:hover{
    transition:0;
    text-decoration: underline;   
}

.footer {
    position: relative;
    margin: 0;
    padding: 0;
}

.footer-item {
    color: white;
    flex-wrap: wrap;
    font-style: unset;
}

.aside {
    background-color: rgb(220,220,220);
    max-width: 12%;
    margin-left: 20px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.input, .search{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.p-input {
    padding: 0;
    margin: 0;
    text-align: center;
}

.p {
    padding: 0;
    margin: 0;
    margin-top: 50px;
}

.input-button {
    width: 60px;
    margin-left: auto;
    margin-right: auto;
}

.filter {
    padding: 0;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
}
.slidecontainer {
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}

.p-input-h {
    margin-top: 20px;
    text-align: center;   
}

.p-input-f {
    margin-bottom: 20px;
    text-align: center;   
}

.pic {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.card {
    position: relative;
    display: flex;
    flex-direction: row;
}

.pic-in {
    justify-content: center
}